hr{
    position: relative;
    top: 20px;
    border: none;   
    height: 12px;
    background: black;
}
.wait{
    text-align: center;
    margin-top: 5rem;
}

.bg{
    margin-top: 15px;
        background-color: #959595;
        border: 1px solid #707070;
        padding: 40px;
}

.box{
    border: 1px solid black;
}
.heading1{
    display: flex;
    justify-content: center;
    width: 220px;
    color: #5A5A5A;
    margin: 0;
    background-color: #EAEAEA;
    border: 1px solid #707070;
    padding: 15px;
    }


body .header{
    display: grid;
    grid-template-columns: 6fr 1fr 1fr 1fr 1fr;
    background-color: #707070;
    color: #F5F5F5;
    padding: 20px 40px;
    }
    
    body .header h1{
    margin: 0;
    font-size: 2.5rem;
    }
    
    body .header h1 a{
    border: 0;
    background-color: transparent;
    color: #F5F5F5;
    text-decoration: none;
    }
    
    body .header div{
    position: relative;
    }
    
    body .header div a{
    text-decoration: none;
    border: 1px solid #707070;
    background-color: #FFFFFF;
    padding: 7px 20px;
    color: #898989;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    }
    
    body .header div a:hover{
    background-color: #FFFFFFE0;
    }
    
    body .header div button{
    text-decoration: none;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF15;
    padding: 8px 20px;
    color: #FFFFFF;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    }
    
    body .header div button:hover{
    background-color: #FFFFFF55;
    }

    body .content{
        padding: 50px;
        text-align: center;
        width: 60%;
        margin: auto;
        }
        
        body .content h1{
        color: #5A5A5A;
        margin: 0;
        background-color: #EAEAEA;
        border: 1px solid #707070;
        padding: 15px 0;
        }

        body .content h2{
            display: flex;
    justify-content: center;
    width: 100%;
    color: #5A5A5A;
    margin: auto;
    background-color: #EAEAEA;
    border: 1px solid #707070;
    padding: 15px;
            }
        
        body .content .box1{
        margin-top: 15px;
        background-color: #959595;
        border: 1px solid #707070;
        padding: 40px;
        }

        body .content .box2{
            
            background-color: #959595;
            border: 1px solid #707070;
            }

        body .footer{
        margin-top:25px;    
        display: grid;
        grid-template-columns: 2fr 1fr;
        text-align: center;
        background-color: #707070;
        color: #F5F5F5;
        height: 60px;
        }
